<footer class="page-footer blue darken-4" itemscope itemtype="http://schema.org/Organization">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text emph" itemprop="name">Control jets</h5>
        <!-- <p class="grey-text text-lighten-4 line-height-sm">Somos una empresa obsesionada a ofrecer los mejores servicios en aviación privada. Nuestro objetivo es hacer de sus viajes una experiencia completa de lujo, calidad, comodidad y productividad. Nuestros pilotos están capacitados por los mejores centros de adiestramientos en los Estados Unidos de América y nuestros aviones cuentan con un alto control de calidad y mantenimiento para garantizar la seguridad de su vuelo.</p> -->

        <div class="aviation-icons">
          <img src="/assets/images/faa.png" alt="Federal Aviation Administration">
          <img src="/assets/images/aecivil.png" alt="Dirección de Aeronáutica Civil">
        </div>
        <p class="grey-text text-lighten-4 line-height-sm">Avalados por la <span class="emph" itemprop="award">Federal Aviation Association</span> y la <span class="emph" itemprop="award">Dirección de Aeronáutica Civil</span></p>

      </div>
      <div class="col l3 s12">
        <h5 class="white-text emph">Contacto</h5>
        <ul>
          <li><a class="white-text" href="mailto:controljets@gmail.com" itemprop="email">controljets@gmail.com</a></li>
          <li><a class="white-text" href="tel:+52-1-33-1822-8315" itemprop="telephone">+52 1 33 1822 8315</a></li>
          <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <li><a class="white-text sm" href="#!" itemprop="streetAddress">Aeropuerto Internacional de Toluca</a></li>
            <li><a class="white-text sm" href="#!" itemprop="addressLocality">Toluca de Lerdo, Estado de México</a></li>
          </div>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text emph">Síguenos</h5>
        <ul class="soc">
            <li><a class="soc-facebook" href="https://www.facebook.com/controljets/"></a></li>
            <li><a class="soc-instagram" href="https://www.instagram.com/controljets/"></a></li>
            <li><a class="soc-twitter" href="https://twitter.com/control_jets"></a></li>
            <li><a class="soc-whatsapp soc-icon-last" href="https://api.whatsapp.com/send?phone=5213318228315"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">

    </div>
  </div>
</footer>
</span>
