<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>{{ site.title[page.lang] }} | {% if page.ref == "index" %} Best private Jet Charter in Mexico {% else %} {{ page.title }} {% endif %}</title>
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% else %} <meta name="description" content="Renta un jet privado en México para cualquier ocasión. Vuelos nacionales e internacionales. Membresías desde 20 horas, carga aérea y más. ¡Cotiza ya!"> {% endif %}

  <!-- CSS  -->

  <link href="/assets/css/tools/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/assets/css/base/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link rel="shortcut icon" href="{{ '/favicon.png' | prepend: site.baseurl }}" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% if page.custom_css %}
    {% for stylesheet in page.custom_css %}
      <link rel="stylesheet" href="/assets/css/base/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
  {% if layout.custom_css %}
    {% for stylesheet in layout.custom_css %}
      <link rel="stylesheet" href="/assets/css/base/{{ stylesheet }}.css" media="screen" type="text/css">
    {% endfor %}
  {% endif %}
 {% include google-analytics.html %}
</head>
