---
layout: default
---


{% include home-includes/jumbotron.html %}


{% include home-includes/three-values.html %}


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 emph">Obsesionados con el servicio, el lujo, el comfort y la eficiencia.</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img class="parallax-img" src="assets/images/bg1.jpg" alt="Unsplashed background img 2">
      <div class="overlay-bg"></div>
    </div>
  </div>

  {% include home-includes/servicios.html %}

  <div class="blue darken-4 pad-5">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h4 class="white-text emph">Lujo, comodidad y exclusividad</h4>
            <p class="left-align white-text light"><span class="emph">Control Jets</span> es una empresa creada y dedicada a satisfacer las necesidades de nuestros clientes brindandoles los mejores servicios en aviación privada, con la intención de hacer de sus viajes una experiencia de lujo, calidad, comodidad y productividad. En Control Jets nos manejamos bajo los más altos estándares de comodidad, seguridad y confidencialidad.
              Nuestros pilotos están capacitados por los mejores centros de adiestramientos en los Estados Unidos de América. Nuestros aviones cuentan con un alto control de calidad y mantenimiento, lo cual le garantiza máxima seguridad en cada de uno de sus vuelos. </p>
            </div>
          </div>

        </div>
      </div>
  </div>

  {% include home-includes/nuestra-flota.html %}
  <!-- </div>
</div> -->

  {% include home-includes/closer-info.html %}
