---
layout: default
---


{% include home-includes/jumbotron.html %}


{% include home-includes/three-values.html %}


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 emph">Obsesionados con el servicio, el lujo, el comfort y la eficiencia.</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img class="parallax-img" src="assets/img/bg1-min.jpg" alt="Unsplashed background img 2">
      <div class="overlay-bg"></div>
    </div>
  </div>

  {% include home-includes/servicios.html %}

  <div class="blue darken-4 pad-5">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h4 class="white-text emph">Lujo, comodidad y exclusividad</h4>
            <p class="left-align white-text light"><span class="emph">Control Jets</span> es una empresa mexicana de aviación privada con sede en Toluca, México. Ofrecemos todo tipo de servicios de aviación y renta de jets con servicios desde renta de jets, taxis aéreos, locación para filmaciones y todos los servicios que necesiten de un jet privado. Nuestros clientes son desde empresarios, artistas, productores de cine, ejecutivos o familias que necesiten de un servicio siempre listo, confiable, lujoso y discreto de renta de aviones y jets.</p>
            <p class="left-align white-text light">Somos el private jet charter mexicano por excelencia. Lo que nos distingue es el servicio personalizado de calidad mundial y la disponibilidad los 365 días del año y los 7 días de la semana. Damos seguimiento directo a cada uno de nuestros clientes para ajustarnos a sus necesidades y Nuestros pilotos están capacitados por los mejores centros de adiestramientos en los Estados Unidos de América. Nuestros aviones cuentan con un alto control de calidad y mantenimiento, lo cual le garantiza máxima seguridad en cada de uno de sus vuelos.</p>
            </div>
          </div>

        </div>
      </div>
  </div>

  {% include home-includes/nuestra-flota.html %}
  <!-- </div>
</div> -->

  {% include home-includes/closer-info.html %}
