---
layout: default
---


{% include home-includes/jumbotron.html %}


{% include home-includes/three-values.html %}


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <!-- <h5 class="header col s12 emph">Obsesionados con el servicio, el lujo, el comfort y la eficiencia.</h5> -->
        </div>
      </div>
    </div>
    <div class="parallax"><img class="parallax-img" src="/assets/img/bg1-min.jpg" alt="Unsplashed background img 2">
      <div class="overlay-bg"></div>
    </div>
  </div>

  {% include home-includes/servicios.html %}

  <div class="blue darken-4 pad-5">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 center">
            <h4 class="white-text emph">{{ site.data.paragraph[page.lang].title }}</h4>
            <p class="left-align white-text light">{{ site.data.paragraph[page.lang].description }}</p>
            
            </div>
          </div>

        </div>
      </div>
  </div>

  {% include home-includes/nuestra-flota.html %}
  <!-- </div>
</div> -->

  {% include home-includes/closer-info.html %}
