<div id="index-banner" class="jumbo-container">
  <div class="section no-pad-bot">
    <div class="jumbo-text-cont centered">
      <div class="centralize">
        <h4 class="type header col s12 light center letter-spacing header1">YA SEA POR NEGOCIOS O PLACER</h4>
        <h1 class="type header center white-text letter-spacing jumbo-emph header2">VIAJA CON LUJO, COMODIDAD Y PRIVACIDAD</h1>

            <!-- <a href="pages/vuela-ya.html" class="btn-cir">
                <h1 class="btn-txt white-text">Cotización inmediata</h1>
            </a> -->
    </div>


  </div>
  <div class="row center top-5">
    <a href="cotiza-ya.html" id="download-button" class="btn-large waves-effect waves-light blue darken-4">Cotización inmediata</a>            </div>
  </div>
  <div class="jumbo"><img class="jumbo-img" src="/assets/images/bg22.png" alt="Unsplashed background img 1"><div class="overlay-bg">

  </div></div>
</div>
