
<div class="white" id="nuestra-flota">
  <div class="container">
    <div class="section">

      <div class="row">
        <h3 class="mdi-content-send center-align gray-text text-darken-4 emph">Nuestra flota</h3>
      <div itemscope itemtype="http://schema.org/Vehicle">
        <div class="col s12">
          <h4 class="gray-text text-darken-4 emph" itemprop="name">HAWKER 700A</h4>
          <h5 class="gray-text text-darken-4" itemprop="bodyType">Medium size aircraft</h5>
        </div>


      <div class="row">
        <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/700-1-min.png" alt="Interior Trasero Hawker 700a">
        <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/700-2-min.png" alt="Exterior, Hawker 700a volando">
        <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/700-3-min.png" alt="Interior posterior Hawker 700a">
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">people</i></h2>
            <h5 class="center" itemprop="seatingCapacity">8-9 pasajeros</h5>
            <p class="center">cómodamente sentados</p>
      </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">flight_takeoff</i></h2>
            <h5 class="center">4.5 horas de vuelo</h5>
            <p class="center">o un rango de 2,000 millas</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center blue-text text-darken-4"><i class="material-icons">card_travel</i></h2>
            <h5 class="center" itemprop="cargoVolume">40 pies cúbicos</h5>
            <p class="center">de equipaje</p>
          </div>
        </div>
      </div>
      <div class="row">
        <img class="col 12 img-full" itemprop="image" src="/assets/img/700a-floor-min.png" alt="Planos de cabina de Hawker 700">
      </div>
      </div>
      </div>
<br>
<hr>
<br>
        <div itemscope itemtype="http://schema.org/Vehicle">
          <div class="row">

              <div class="col s12">
                <h4 class="gray-text text-darken-4 emph" itemprop="name">HAWKER 800XP</h4>
                <h5 class="gray-text text-darken-4" itemprop="bodyType">Medium size aircraft</h5>
              </div>
            </div>

            <div class="row">
              <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/800xp-1-min.png" alt="Interior Trasero Hawker 800XP">
              <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/800xp-2-min.png" alt="Exterior, Hawker 800XP volando">
              <img class="col s4 sm-pic materialboxed" itemprop="image" src="/assets/img/800xp-3-min.png" alt="Interior posterior Hawker 800XP">
            </div>

            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center blue-text text-darken-4"><i class="material-icons">people</i></h2>
                  <h5 class="center" itemprop="seatingCapacity">9-10 pasajeros</h5>
                  <p class="center">cómodamente sentados</p>
            </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center blue-text text-darken-4"><i class="material-icons">flight_takeoff</i></h2>
                  <h5 class="center">5 horas de vuelo</h5>
                  <p class="center">o un rango de 3,000 millas</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center blue-text text-darken-4"><i class="material-icons">card_travel</i></h2>
                  <h5 class="center" itemprop="cargoVolume">50 pies cúbicos</h5>
                  <p class="center">de equipaje</p>
                </div>
              </div>
            </div>
            <div class="row">
              <img class="col 12 img-full" itemprop="image" src="/assets/img/800xp-floor-min.png" alt="Planos de cabina de Hawker 800XP">
            </div>
          </div>

        </div>

      </div>

    </div>
