<section class="white" id="servicios">
  <div class="container">
    <br>
    <h3 class="mdi-content-send center-align gray-text text-darken-4 emph">Servicios</h3>
    <br>
    <div class="row servicios-row">

      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-travel.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Vuelos nacionales e internacionales</h3>
            <h4 class="servicios-text">Ya sea por negocios o placer</h4>
          </div>
        </div>
      </div>
      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-film.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Filmaciones</h3>
            <h4 class="servicios-text">Aviones y hangares como locación</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row servicios-row">

      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-membership.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Membresías de vuelo</h3>
            <h4 class="servicios-text">Desde 20 horas</h4>
          </div>
        </div>
      </div>
      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-24.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Siempre disponibles</h3>
            <h4 class="servicios-text">Disponibilidad las 24 horas, los 365 días</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="row servicios-row">

      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-box.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Carga aérea</h3>
            <h4 class="servicios-text">Jets de transporte con tiempo crítico de entrega</h4>
          </div>
        </div>
      </div>
      <div class="col s12 xl6">
        <div class="servicios-item">
          <div class="icon-wrapper">
            <img src="/assets/img/icon-s-medal.svg" alt="travel" class="icon-s">
          </div>
          <div class="servicios">
            <h3 class="servicios-text-bold" itemprop="serviceType">Seguridad y discreción</h3>
            <h4 class="servicios-text">Tenemos los más altos estándares de seguridad</h4>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</section>
