<div class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-darken-4"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">{{ site.data.features[page.lang].first }}</h5>

          <p class="light justify-content">{{ site.data.features[page.lang].first-description }}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-darken-4"><i class="material-icons">group</i></h2>
          <h5 class="center">{{ site.data.features[page.lang].second }}</h5>
          <p class="light justify">{{ site.data.features[page.lang].second-description }}</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text text-darken-4"><i class="material-icons">https</i></h2>
          <h5 class="center">{{ site.data.features[page.lang].third }}</h5>

          <p class="light">{{ site.data.features[page.lang].third-description }}</p>
        </div>
      </div>
    </div>

  </div>
</div>
